<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76619226403-uqif7f78lalngkvmdgjcrtvth72rshl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76619226403-uqif7f78lalngkvmdgjcrtvth72rshl9</string>
	<key>API_KEY</key>
	<string>AIzaSyD5J1llgLQwUwROHstXcOroqWyyp2e9Z2I</string>
	<key>GCM_SENDER_ID</key>
	<string>76619226403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CT.CollegeTour</string>
	<key>PROJECT_ID</key>
	<string>collegetour-fb638</string>
	<key>STORAGE_BUCKET</key>
	<string>collegetour-fb638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76619226403:ios:f76040dc76ea51467dc096</string>
</dict>
</plist>